services:
  user-service:
    build: ./user-service
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  product-service:
    build: ./product-service
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  order-service:
    build: ./order-service
    ports:
      - "3002:3002"
    depends_on:
      - mongo

  payment-service:
    build: ./payment-service
    ports:
      - "3003:3003"
    depends_on:
      - mongo

  inventory-service:
    build: ./inventory-service
    ports:
      - "3004:3004"
    depends_on:
      - mongo

  notification-service:
    build: ./notification-service
    ports:
      - "3005:3005"
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
